@import "variables"

.form-step
    border: 2px solid $mainC
    color: $mainC
    width: 75px
    height: 75px

.form-step.filled
    background-color: $mainC
    color: white

.form-container
    display: none
