@import "~bootstrap/dist/css/bootstrap.min.css"
//@import "~slicknav/dist/slicknav.min.css"
@import "../../public/css/templates/slicknav.css"
@import "~magnific-popup/dist/magnific-popup.css"
@import "~slick-carousel/slick/slick.css"
@import "~jquery-nice-select/css/nice-select.css"
@import "~@fortawesome/fontawesome-free/css/all.min.css"
@import "~@icon/themify-icons/themify-icons.css"
.doc
    color: red !important

    &:hover
        color: blue !important

.principal-search
    flex: 0 0 86%
    max-width: 86%
