@import "variables"

.slider-area
    background-position: center
    background-size: cover

.filter-selected
    color: $mainC !important
    font-weight: bold !important

.nice-select.disabled
    opacity: .75

