.form-step {
  border: 2px solid #FF6600;
  color: #FF6600;
  width: 75px;
  height: 75px;
}

.form-step.filled {
  background-color: #FF6600;
  color: white;
}

.form-container {
  display: none;
}

.badge-custom {
  color: black !important;
  border: #FF6600 solid 2px !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  margin: 10px 10px;
}
.badge-custom:hover {
  color: black !important;
}
.badge-custom::before {
  background: none !important;
}
.badge-custom span {
  font-size: 1.25rem;
}

.photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: #c5c5c5;
  width: 100%;
  cursor: pointer;
  transition: 0.5s all;
}
.photo i {
  font-size: 3rem;
}

.photo:hover {
  transform: scale(1.08);
}

#logo {
  background-color: #c5c5c5;
  cursor: pointer;
  transition: 0.5s all;
}
#logo i {
  font-size: 3rem;
}

#logo:hover {
  transform: scale(1.08);
}
