.form-step {
  border: 2px solid #FF6600;
  color: #FF6600;
  width: 75px;
  height: 75px;
}

.form-step.filled {
  background-color: #FF6600;
  color: white;
}

.form-container {
  display: none;
}

.horarios {
  color: black !important;
  border: #FF6600 solid 2px !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  margin: 10px 10px;
}
.horarios:hover {
  color: black !important;
}
.horarios::before {
  background: none !important;
}

.horarios span {
  margin: 0 3px !important;
  display: inline-block !important;
}

.badge-custom {
  display: inline-block;
  margin: 0 5px;
}

#select-for-days .nice-select {
  width: 100% !important;
}

#select-for-days .list {
  width: 100% !important;
}
