.slider-area {
  background-position: center;
  background-size: cover;
}

.filter-selected {
  color: #FF6600 !important;
  font-weight: bold !important;
}

.nice-select.disabled {
  opacity: 0.75;
}

#search-results {
  margin-top: 10px;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  justify-content: space-between;
}
#search-results a {
  color: black;
}
#search-results a:hover {
  color: #FF6600;
}

#in-search-results {
  border-radius: 18px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.category-name {
  font-weight: bold;
}

#plans-char {
  padding: 20px 20px;
}

.pick-plan {
  background-color: #FF6600;
  color: white !important;
  font-weight: bold;
  padding: 0.75rem;
  border-radius: 10px;
}

.single-cat:hover .pick-plan {
  background-color: white;
  color: #FF6600 !important;
}
