.slider-area {
  background-position: center;
  background-size: cover;
}

.filter-selected {
  color: #FF6600 !important;
  font-weight: bold !important;
}

.nice-select.disabled {
  opacity: 0.75;
}

#search-results {
  margin-top: 10px;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  justify-content: space-between;
}

#in-search-results {
  border-radius: 18px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.category-name {
  font-weight: bold;
}
