.slider-area {
  background-position: center;
  background-size: cover;
}

.filter-selected {
  color: #FF6600 !important;
  font-weight: bold !important;
}

.nice-select.disabled {
  opacity: 0.75;
}
